#content {
  width: 90%;
  margin: 60px auto 10px;
  min-height: 600px;
}

.w_1 {
  width: calc(100% / 12 * 1);
}

.w_2 {
  width: calc(100% / 12 * 2);
}

.w_3 {
  width: calc(100% / 12 * 3);
}

.w_4 {
  width: calc(100% / 12 * 4);
}

.w_5 {
  width: calc(100% / 12 * 5);
}

.w_6 {
  width: calc(100% / 12 * 6);
}

.w_7 {
  width: calc(100% / 12 * 7);
}

.w_8 {
  width: calc(100% / 12 * 8);
}

.w_9 {
  width: calc(100% / 12 * 9);
}

.w_10 {
  width: calc(100% / 12 * 10);
}

.w_11 {
  width: calc(100% / 12 * 11);
}

.w_12 {
  width: calc(100% / 12 * 12);
}

#path {
  margin-top: 63px;
  padding-top: 10px;
  font-size: 2vw;
}

#path .span_a {
  color: cornflowerblue;
  cursor: pointer;
}

/* 產品 */
#productBox {
  width: 100%;
}

/* 卡片 */
.cardBox {
  padding: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  min-height: 10px;
  display: flex;
}

/* 左 */
.cardBox .imgBox {
  line-height: 0;
}

.cardBox .big img {
  width: 100%;
  border: 1px solid #ccc;
}

.cardBox .small {
  display: flex;
  flex-wrap: wrap;
}

.cardBox .small img {
  width: 25%;
  border: 2px solid #ccc;
  cursor: pointer;
  box-sizing: border-box;
}
.cardBox .small img:hover{
  border-color:hotpink ;
}

/* 右 */
.cardBox .textBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cardBox .textBox .span1 {
  font-size: 50px;
  font-weight: bold;
  /* text-align: center; */
}

.cardBox .textBox .span2,
.cardBox .textBox .span2_red {
  font-size: 40px;
  /* text-align: center; */
}
.cardBox .textBox .span2_red{
  color: red;
}
form[name='car']{
  margin-top:auto;
  margin-bottom: 20px;
  font-size: 25px;
}
form[name='car'] label {
  border: 1px solid #CCC;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 3px 3px 3px 3px;
  background-color: rgba(0, 128, 0,0.5);
}
form[name='car'] label span{
  /* background-color: rgba(0, 128, 0,0.5); */
  /* padding: 3px; */
  display: inline-block;
  height: 100%;
  margin-right: 0;
}

form[name='car'] label input {
  outline-width:0 ;
  margin-left: 2px;
  border: 0;
  font-size: inherit;
  width: 20%;
  border-radius:inherit ;
}
form[name='car'] button{
  margin-left: 20px;
  font-size: inherit;
  background-color: rgba(0, 128, 0,0.5);
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
}



.規格 {
  width: 100%;
  border: 1px solid red;
  text-align: center;
}

.規格 .iframe1 {
  height: 1000px;
  width: 90%;
  margin: 20px auto;
}